version: '3'

services:
  pihole:
    cap_add:
      - NET_ADMIN
    dns:
      # We need to specifically set DNS here, otherwise, "update gravity" seems will fail.

      # This needs to be an IP address, otherwise, lookup would fail.
      # It is working when running "docker-compose exec pihole dig github.com" return some results.
      - 10.53.0.3
    hostname: pihole
    image: pihole/pihole:latest
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 80:80/tcp
    environment:
      PIHOLE_DNS_: cloudflared#53
      TZ: America/Los_Angeles
    networks:
      pihole:
        ipv4_address: 10.53.0.2
    restart: unless-stopped
    shm_size: '2g'
    # Volumes store your data between container upgrades
    volumes:
      - ./etc-pihole:/etc/pihole
      - ./etc-dnsmasq.d:/etc/dnsmasq.d

  cloudflared:
    build:
      context: .
      dockerfile: Dockerfile.cloudflared
    environment:
      PRIMARY_DNS: https://1.1.1.1/dns-query
      SECONDARY_DNS: https://1.0.0.1/dns-query
    expose:
      - 53/tcp
      - 53/udp
    networks:
      pihole:
        ipv4_address: 10.53.0.3
    restart: unless-stopped
    volumes:
      - ./etc-cloudflared:/etc/cloudflared

  autoheal:
    image: willfarrell/autoheal:latest
    tty: true
    container_name: autoheal
    restart: always
    environment:
      - AUTOHEAL_CONTAINER_LABEL=all
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

networks:
  pihole:
    driver: bridge
    ipam:
      config:
        - subnet: 10.53.0.0/16
          gateway: 10.53.0.1
