[Unit]
Description=pi-hole

[Service]
ExecStart=/home/pi/repos/pi-hole/service start
ExecStop=/home/pi/repos/pi-hole/service stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
